<div id="<%= dom_id lending %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Book:</strong>
    <%= lending.book_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Borrower name:</strong>
    <%= lending.borrower_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Borrowed at:</strong>
    <%= lending.borrowed_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Returned at:</strong>
    <%= lending.returned_at %>
  </p>
</div>
